---
import Layout from "@/layouts/Layout.astro";
import Error404 from "@/components/Error404.astro";
---

<Layout title="Error404 - Pagina no encontrada">
  <section>
    <Error404 />
  </section>
</Layout>
